# conda create --name vj python=3.9   
transformers   
pandas
bs4    
langchain_community
langchain
langchain_openai 
tavily-python
chroma    
langchain_chroma       
langchain-nomic   
langchainhub     
langchain-core   
pypdf
langgraph
